.interest-widget { padding:10px 16px 16px; border: 1px solid rgba(6, 40, 73, 0.1); border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.interest-widget-item { display:flex; margin-bottom:16px; }
.interest-widget-item:last-child { margin-bottom:0;}
.interest-widget-item .img-holder { flex-shrink: 0; width:83px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; overflow:hidden;}
.interest-widget-item .interest-widget-text { max-height: 83px; padding-left:12px; font-size:16px; line-height:1.3; font-family:'Inter-bold'; color:var(--color-primary); overflow:hidden; }
.interest-widget-item:hover .interest-widget-text { color: var(--color-blue);}

@media (min-width:767px) {
    .interest-widget-item-wrap { gap:0; }
    .interest-widget-item .img-holder {width:70px; }
    .interest-widget-item .interest-widget-text { max-height: 65px; }
}


@media (min-width:1400px) {
    .interest-widget-item .img-holder {width:83px; }
    .interest-widget-item .interest-widget-text { max-height: 83px; }
}